<% provide(:title, "About") %>
<h1>About</h1>
<p>
    The <a href="http://peaceful-hamlet-25618.herokuapp.com"><em>DevRubyDevRails Application</em></a>
    is a Community for people(s) wanting to <a href="http://peaceful-hamlet-25618.herokuapp.com/about">learn</a> Ruby On Rails.
    It has 2 services available when you signup for either a <a href="http://peaceful-hamlet-25618.herokuapp.com/users/sign_up?plan=1">basic</a> or <a href="http://peaceful-hamlet-25618.herokuapp.com/users/sign_up?plan=2">Pro</a> Acount. Check it out today!
</p>
  