<% provide(:title, "Home") %>
<div class="jumbotron text-center">
    <h1>Tutorial Application</h1>
    <p>
        This is the home page for the 
        <a href="http://peaceful-hamlet-25618.herokuapp.com">DevRubyDevRails</a>
        Sample Application
    </p>
</div>
    <div class="well text-center">
       <button type="button" class="btn btn-info">Bootstrap Button Rails</button>
       <button type="button" class="btn btn-primary disabled">Bootstrap Button Rails</button>
       <button type="button" class="btn btn-default">Bootstrap Button Rails</button>
       <button type="button" class="btn btn-danger disabled">Bootstrap Button Rails</button>
        <br>
       <p>Two bottons active, two disabled!</p>
        </br>
        <div class="well">
            <div class="col-col-6 offset-3">
                <img src="https://static.pexels.com/photos/20974/pexels-photo.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/17/74/08/1774086bcfc06eedaa23a8782eade9f2.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                <img src="http://webneel.com/wallpaper/sites/default/files/images/04-2013/natural-scenery-wallpaper.preview.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
            </div>
        </div>
    </div>
</div>


