<% provide(:title, "Home") %>
<nav class="navbar navbar-primary navbar-static-top" role="navigation">
<h1 class="jumbotron">
    <div class"col-col-8 offset-6">
        Sample Application</h1>
    </div>
</nav>
<p>
    This is the home page for the 
    <a href="http://peaceful-hamlet-25618.herokuapp.com">DevRubyDevRails</a>
    Sample Application
</p>
